* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  height: "100vh";
  width: "100vw";
  overflow: hidden;
}

.marker {
  transform: translate(-50%, -100%);
}
.error {
  color: #f05305;
}

.marker.red path {
  fill: #f05305;
}

.marker.yellow path {
  fill: #f3b73e;
}

.popup {
  width: 20vw;
  padding: 1rem;
  border-radius: 10px;
}

.popup img {
  height: 150px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  border: none;
  font-size: 1rem;
  margin: 0.6rem 0;
  display: block;
  width: 100%;
}
.entry-form input,
.entry-form textarea {
  border-bottom: 0.4px grey solid;
}
.entry-form button {
  margin-top: 20px;
  padding: 4px;
  background: rgb(182, 182, 182);
}
.header {
  display: inline-block;
  background: white;
  padding: 1rem;
  position: relative;
}
.search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
}
@media screen and (max-width: 648px) {
  .header {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
